.home-sections {
  display: flex;
  flex-direction: column;
}

.home-sections > * + * {
  margin-top: 90px;
}

.home-sections > .home-categories {
  margin-top: 36px;
}

.home-sections + .footer {
  margin-top: 90px;
}
